	
		h1 {
			color: rgb(105, 123, 112);
			font-family: "times new roman", sans-serif; 
			font-weight: bold; 
			text-align: center;
		}  
		body {
				background-color: rgb(300, 250, 120
					);
				border: 10px dotted white
		}
		p {
		color: black;
			font-family:  "Times new roman", sans-serif;
			text-align: center;
			font-size: large;
			
		}
	